.add-option-error {
    font-style: italic;
    margin: 0;
    padding: $s-size;
    text-align: center;
    font-weight: bold;
    font-size: $m-size;
}

.add-option {
    display: flex;
    height: $l-size;
}

.add-option__input {
    flex-grow: 1;
    font-size: $m-size;
}