// Colors
$light-blue: lightblue;
$light-coral: lightcoral;
$dark-coral: darken($color: $light-coral, $amount: 5%);
$azure: azure;

// spacing
// Font Size
$l-size: 5rem;
$m-size: 2rem;
$s-size: 1rem;
$xs-size: 0.5rem;